# Language

LANGUAGE_DEFAULT="en"

 

# Mixcloud

MIXCLOUD_NAME="THF Radio"

MIXCLOUD_API="https://api.mixcloud.com/thfradio/cloudcasts/"

NEXT_PUBLIC_MIXCLOUD_API="https://api.mixcloud.com/thfradio/cloudcasts/"

 

# Radio

LIVE_RADIO_STREAM="https://thf-radio-7ec0e6ee.radiocult.fm/stream"

NEXT_PUBLIC_LIVE_RADIO_STREAM="https://thf-radio-7ec0e6ee.radiocult.fm/stream"

LIVE_RADIO_AZURA="http://91.107.238.209:8000/live"

 

# Strapi

STRAPI_PUBLIC_API_URL="https://cms.thfradio.com/api/"

CMS_URL="https://cms.thfradio.com"
NEXT_PUBLIC_CMS_URL="http://localhost:1337"

STRAPI_WEBHOOK_SECRET="SECRET"

 

# Soundcloud

SOUNDCLOUD_CLIENT_ID="ID"

SOUNDCLOUD_USER_ID="USER_ID"

SOUNDCLOUD_CLIENT_SECRET="SECRET"

 

# Next

#NEXT_PUBLIC_API_URL=https://thfradio.de

#NEXT_PUBLIC_FRONTEND_URL=https://thfradio.de

#NEXT_PUBLIC_STRAPI_API_URL="https://cms.thfradio.com/api/"

 

NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_FRONTEND_URL=http://localhost:3003

